.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagination .ais-Pagination-item--disabled {
  opacity: .6;
  cursor: not-allowed;
}

.pagination .ais-Pagination-item--disabled .page-link:not([rel=prev]):not([rel=next]) {
  color: #adb5bd;
}

.pagination .ais-Pagination-item--disabled:hover .page-link:not([rel=prev]):not([rel=next]) {
  color: #adb5bd;
  background-color: #fff;
  border-color: #adb5bd;
}

.ais-Pagination--noRefinement {
  display: none;
}

.no-results {
  padding: 50px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no-results > p {
  max-width: 45%;
  text-align: center;
}

.no-results > p,
.no-results .no-results-img,
.no-results .no-results-btn {
  margin-bottom: 30px;
}

.no-results-img {
  background-image: url(../images/icons/no-results.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.ais-Hits-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.result-switcher {
  height: 40px;
  width: 80px;
  background: #e9ecef;
  border: 0 solid transparent;
  border-radius: 25px;
  position: relative;
}

.result-switcher .grid {
  height: 40px;
  width: 40px;
  border: 0 solid transparent;
  background-color: #e9ecef;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/icons/grid-black.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  transition: all .3s ease;
}

.result-switcher .grid.active {
  left: -5px;
  background-image: url(../images/icons/grid-white.svg);
}

.result-switcher .table {
  height: 40px;
  width: 40px;
  border: 0 solid transparent;
  background-color: #e9ecef;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/icons/table-black.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  transition: all .3s ease;
}

.result-switcher .table.active {
  right: -5px;
  background-image: url(../images/icons/table-white.svg);
}

.result-switcher > span:not(.active) {
  cursor: pointer;
}

.result-switcher .active {
  height: 45px;
  width: 45px;
  border: 0 solid transparent;
  background-color: #242833;
  border-radius: 50%;
  position: absolute;
  top: -0.156rem;
  transition: all .3s ease;
}

@media (max-width: 991.98px) {
  .result-switcher {
    margin-left: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .result-switcher {
    display: none;
  }
}
