.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.rdrDateRangeWrapper .rdrMonthAndYearWrapper,
.rdrDateRangeWrapper .rdrMonthsVertical {
  display: none;
}

.rdrDateRangeWrapper .rdrCalendarWrapper {
  background-color: #fff;
}

.rdrDateInput {
  width: 100%;
  color: #242833;
}

.rdrDateDisplayItemActive input {
  color: #242833;
}

.rdrDateDisplayWrapper {
  position: relative;
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #adb5bd;
  transition: border-color .35s ease-in-out, box-shadow .35s ease-in-out;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .open .rdrDateDisplayWrapper {
    width: 210px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .open .rdrDateDisplayWrapper {
    width: 205px;
  }
}

.open .rdrDateDisplayItem.rdrDateDisplayItemActive {
  border-color: #242833;
}

.open .rdrDateRangeWrapper,
.open .rdrDefinedRangesWrapper {
  border: 1px solid #e2e3e5;
}

.open .rdrDefinedRangesWrapper {
  border-right: none;
}

.open.date-range-filter {
  display: flex;
}

.rdrDefinedRangesWrapper {
  width: 195px;
  display: none;
}

.reset {
  position: absolute;
  top: 10px;
  left: 300px;
  width: 15px;
  height: 30px;
  z-index: 9;
  background-color: transparent;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .reset {
    left: 210px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .reset {
    left: 205px;
  }
}

.rdrDateDisplay .rdrDateDisplayItem {
  width: 100px;
}

.rdrDateDisplayItem {
  font-size: .875rem;
  box-shadow: none;
  border-color: transparent;
  width: 100px;
}

.rdrDateDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .3125rem .833rem;
  margin-right: 20px;
}

.rdrDateDisplay input::placeholder {
  font-size: 1rem;
  color: #242833;
}

.rdrDateDisplay::before {
  content: "";
  background-image: url(../images/icons/calendar-primary.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.rdrDateDisplay .rdrDateInput:last-of-type::before {
  content: "-";
  margin-left: -13px;
}

.rdrCalendarWrapper {
  z-index: 1;
}

.pagination .ais-Pagination-item--disabled {
  opacity: .6;
  cursor: not-allowed;
}

.pagination .ais-Pagination-item--disabled .page-link:not([rel=prev]):not([rel=next]) {
  color: #adb5bd;
}

.pagination .ais-Pagination-item--disabled:hover .page-link:not([rel=prev]):not([rel=next]) {
  color: #adb5bd;
  background-color: #fff;
  border-color: #adb5bd;
}

.ais-Pagination--noRefinement {
  display: none;
}

.no-results {
  padding: 50px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no-results > p {
  max-width: 45%;
  text-align: center;
}

.no-results > p,
.no-results .no-results-img,
.no-results .no-results-btn {
  margin-bottom: 30px;
}

.no-results-img {
  background-image: url(../images/icons/no-results.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.ais-Hits-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.result-switcher {
  height: 40px;
  width: 80px;
  background: #e9ecef;
  border: 0 solid transparent;
  border-radius: 25px;
  position: relative;
}

.result-switcher .grid {
  height: 40px;
  width: 40px;
  border: 0 solid transparent;
  background-color: #e9ecef;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/icons/grid-black.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  transition: all .3s ease;
}

.result-switcher .grid.active {
  left: -5px;
  background-image: url(../images/icons/grid-white.svg);
}

.result-switcher .table {
  height: 40px;
  width: 40px;
  border: 0 solid transparent;
  background-color: #e9ecef;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/icons/table-black.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  transition: all .3s ease;
}

.result-switcher .table.active {
  right: -5px;
  background-image: url(../images/icons/table-white.svg);
}

.result-switcher > span:not(.active) {
  cursor: pointer;
}

.result-switcher .active {
  height: 45px;
  width: 45px;
  border: 0 solid transparent;
  background-color: #242833;
  border-radius: 50%;
  position: absolute;
  top: -0.156rem;
  transition: all .3s ease;
}

@media (max-width: 991.98px) {
  .result-switcher {
    margin-left: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .result-switcher {
    display: none;
  }
}
